
<div class="row">
  <div class="col-md-6 mx-auto my-5">
    <section class="form-elegant">
      <mdb-card>
        <mdb-card-body class="mx-4">
            <div class="text-center">
            <h3 class="dark-grey-text mb-5">
              <strong>Sign in</strong>
            </h3>
          </div>
   
        
          <form class="text-center border border-light p-5" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
     
             
              <div class="form-group">

                  <input type="text" id="username" name="username" placeholder="Username"  [(ngModel)]="form.username" #username="ngModel" required>
              
                  <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Username is required</div>
                  </div>
              </div>
   
              <div class="form-group">
           
              <input type="password" id="password"    name="password" placeholder="Password" [(ngModel)]="form.password"  #password="ngModel" required minlength="6">
             
              <p class="font-small blue-text d-flex justify-content-end">Forgot
                <a href="#" class="blue-text ml-1"> Password?</a>
              </p>

              <div *ngIf="f.submitted && password.invalid">
                  <div *ngIf="password.errors.required">Password is required</div>
                </div> 
            </div>
         
          <!--Body-->
        
          <div class=" form-group">
            <button  mdbBtn gradient="green" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>Sign in</button>
            
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                Login failed: {{errorMessage}}
              </div>
         
          </div>
        </form>
       </mdb-card-body>    
        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
          <p class="font-small grey-text d-flex justify-content-end">Not a member?
            <a href="#" class="blue-text ml-1"> Sign Up</a>
          </p>
        </div>

      </mdb-card>

    </section>
  </div>
</div>
<!-- Default form login -->
